.sortAndShuffle{
	width: 375px;
}

.title{
	background-color: #000000;
	color: white;
	text-align: center;
}

h1{
	margin-top: 0;
	margin-bottom: 5%;
	padding: 2%;
}

.buttons{
	display: flex;
	width: 50%;
	justify-content: space-around;
	margin: auto;
	position: absolute;
    top: 80px;
    left: 60px;
}

.sortButton, .shuffleButton{
	width: 45%;
	text-align: center;
}

.buttonSort, .buttonShuffle{
	border-radius: 15px;
}

button{
	border: none;
	border-bottom: 5px solid #6F98A8;
	outline: none;
	font-size: 15px;
	border-radius: 10px;
	padding-top: 15%;
	padding-bottom: 15%;
	width: 100%;
	background-color: #72C3DC;
	color: white;
}

button:focus{
	outline: none!important;
}

button:hover{
	cursor: pointer;
	color: lightgray;
}

.cardsButtonsContent{
	padding-top: 25%;
}

ul{
	padding: 0;
	margin: 0;
}

.cardNumber{
	width: 80%;
	margin: auto;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	background-color: #EFEFEF;
	margin-bottom: 4%;
	display: flex;
}

.container{
	max-width: 100%!important;
}

.col-md-4{
	padding-right: 0!important;
	padding-left: 0!important;
}

.paraNumber{
	margin-top: 7%;
    margin-bottom: 7%;
}

.color{
	margin: 0;
	width: 5%;
	padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 41%;
}

.insertName{
	font-style: italic;
	text-align: center ;
	padding-bottom: 5%;
}

@media(min-width: 960px){

	.title{
		background-color: #FFFFFF;
		color: #000000;
	}

	h1{
		margin-top: 0;
		padding: 2%;
	}

	.backgroundLigth{
		background-color: #EFEFEF;
	}

	.sortAndShuffle{
		width: 960px;
	}

	.content{
		display: flex;
	}

	.buttons{
		margin-top: 2%;
		display: block;
		width: 60%;
		position: inherit;
	}

	.shuffleButton, .sortButton{
		margin: auto;
    	width: 60%;
	}

	.shuffleButton, .sortButton:focus{
		outline: none;
	}


	.buttonShuffle, .buttonSort{
		padding: 4%;
		margin-bottom: 7%;
		border-radius: 15px;
	}

	.cardsButtonsContent{
		padding-top: 0;
	}

	.cardNumber{
		width: 33%;
		margin: 0;
		background-color: none;
		font-size: 60px;
		color: #FFFFFF;
	}

	.color{
		position: absolute;
    	width: 100%;
    	height: 100%;
    	margin-right: 0;
	}

	.paraNumber{
		position: relative;
		margin-left: 40%
	}
}

